* {
    box-sizing: border-box;
}
body {
    margin: 50px 0px;
    background: #F7F6F2;
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 125px;
    background: #F7F6F2;
    box-shadow: 5px 0px 10px rgba(1,1,1,0.1);
    z-index: 99;
}
.header-container {
    margin: 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.header-container .navBtn {
    display: none;
    visibility: hidden;
}
.header-container img {
    height: 110px;
    width: 110px;
    background-image: url(peaktrail_gear_logo.png);
    background-size: cover;
}
.header-container .nav {
    display: flex;
    gap: 60px;
    font-family: sans-serif;
    list-style-type: none;
    color: #1a1a1a;
}
.header-container li {
    font-size: 1.2rem;
    transition: 0.2s ease;
    cursor: pointer;
}
.hero {
    width: 100%;
    margin-top: 125px;
    height: 800px;
    background-image: url(mountainview.avif);
    background-size: cover;
    background-position: center;
}
.hero .headline {
    width: 450px;
    margin: 0 auto;
}
.hero .headline .headline-text {
    font-size: 8rem;
    font-family: sans-serif;
}
.hero .headline .hero-CTA {
    background: #1B4D30;
    color: white;
    font-size: 1rem;
    padding: 15px 25px;
    border: none;
    transition: 1s ease;
    cursor: pointer;
}
.hero .headline .hero-CTA:hover {
    scale: 0.95;
}
.products {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}
.products .product-headline {
    font-size: 2rem;
    font-family: sans-serif;
}
.products .products-grid {
    display: flex;
    height: 100%;
}
.products .product-card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    height: 100%;
    width: 200px;
    padding: 5px;
    margin: 10px 15px;
}
.products .product-card1 img {
    width: 100%;
    height: 50%;
}
.products .product-card1 .product-name {
    font-size: 1rem;
    font-family: sans-serif;
    margin-bottom: 10px;
}
.products .product-card1 .amazonCTA {
    background: #FF9900;
    color: black;
    padding: 10px 15px;
    border: none;
    transition: 1s ease;
    cursor: pointer;
}
.products .product-card1 .amazonCTA:hover {
    scale: 0.95;
}
.about {
    margin: 40px 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1a1a1a;
    font-family: sans-serif;
}
.about h1 {
    margin: 0px;
}
.form {
    margin: 40px 500px;
}
.form .input-label {
    display: flex;
    flex-direction: column;
}
.form label {
    font-size: 1rem;
    font-family: sans-serif;
}
.form input {
    font-size: 1rem;
    font-family: sans-serif;
    border: none;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.form textarea {
    border: none;
    margin-top: 5px;
}
.form .submitBtn {
    width: 100%;
    background: #1B4D30;
    color: white;
    border: none;
    padding: 15px;
    margin: 5px 0px;
    transition: 1s ease;
    cursor: pointer;
}
.form .submitBtn:hover {
    scale: 0.95;
}
.form .vias {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px;
}
.form .vias .amazon {
    background: #FF9900;
    font-size: 1.5rem;
    transition: 1s ease;
    cursor: pointer;
}
.form .vias .amazon:hover {
    scale: 0.95;
}
.form .vias .whatsapp {
    background: #128C7E;
    color: white;
    font-size: 1.5rem;
    transition: 1s ease;
    cursor: pointer;
}
.form .vias .whatsapp:hover {
    scale: 0.95;
}
.form .vias .instagram {
    background: white;
    color: black;
    font-size: 1.5rem;
    transition: 1s ease;
    cursor: pointer;
}
.form .vias .instagram:hover {
    scale: 0.95;
}
.footer {
    width: 100%;
    background: #1a1a1a;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
}
@media (max-width: 768px) {
    body {
        margin: 10px 0px;
    }
    .header {
    }
    .header-container {
        margin: 0px 20px;
    }
    .header-container ul {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
    }
    .header-container li {
        border-bottom: 1px solid #1a1a1a;
        width: 90%;
        padding: 2rem 0px;
    }
    .header-container .navBtn { 
        visibility: visible;
        width: 70px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    .header-container .navBtn .bar-1 {
        width: 100%;
        height: 5%;
        background: #1a1a1a;
    }
    .header-container .navBtn .bar-2 {
        width: 100%;
        height: 5%;
        background: #1a1a1a;
    }
    .header-container .navBtn .bar-3 {
        width: 100%;
        height: 5%;
        background: #1a1a1a;
    }
    .header-container .nav {
        position: fixed;
        top: 100px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background: #F7F6F2;
        display: none;
        z-index: 99;
    }
    .header-container .nav.active {
        display: block;
    }
    .products .products-grid {
    display: flex;
    height: 100%;
    overflow-x: auto;
    width: 90%;
}
.about {
    margin: 40px 50px;
}
.form {
    margin: 40px 50px;
}
}
